# Port for the web server to run on
PORT=8080

# Cloudflare Account Credentials
CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id_here
CLOUDFLARE_ACCESS_KEY_ID=your_r2_access_key_id_here
CLOUDFLARE_SECRET_ACCESS_KEY=your_r2_secret_access_key_here

# Cloudflare R2 Bucket name
CLOUDFLARE_BUCKET_NAME=the-raw-storage
